body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}




.inputTag{
  border:1px solid black;
  width:260px;
  background:#fff;
  padding:10px;
  margin-left: auto;
  margin-right: auto;
}

.fa-angle-down{
 
}

.icon-root{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.dialog{

  padding:10px;
  margin-left: auto;
  margin-right: auto;
  border:1px solid #000;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 260px;
 
  margin-top:10px;
}


.singlelist-dialog{
  background-color: hsl(145, 77%, 68%);
  border-radius: 20px;
  font-size: 13px;
  padding:4px;
  margin:10px;
}

.insideDialog{
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border:2px solid green;
  padding:5px;
}

input[type='text']{
  border:none !important;
  margin-top: 10px;
  padding:7px;
  width: 100%;
}